html, body {

  height: 100%;
  font-family: sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline-style: none;
}

select:focus {
  outline-style: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.data-input {
  border-radius: inherit;
  height: 100%;
  padding: 0 13px;
  border-style: none;
  width: 100%;
  background: transparent;
}

.error {
  position: absolute;
  right: 0;
  bottom: -12px;
  font-size: 9px;
  color: red;
}

:root {
  --height-input: 40px;
}

@media (max-width: 768px) {
  :root {
    --height-input: 50px;
  }
}