html, body {

    height: 100%;
    font-family: sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input:focus {
    outline-style: none;
  }

select:focus {
    outline-style: none;
}

* {
box-sizing: border-box;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}